body{
 background: #fffc00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
  
  color: #fff;
}


.App{
  text-align: center;

}

.taskBg{
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg  .taskText{
  flex:1;
}

.taskBg .done .taskText{
  text-decoration: line-through;
  opacity: 0.3;
  flex:1;
}

.taskNumber{
  color:#999;
  border : 1px solid #999;
  border-radius: 50% ;
  width: 26px;
  height: 26px;
  display : flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px ;
  align-items: center;
  justify-content: center;
}

.taskBg div{
  display: flex;
  align-items: center;
}

.taskBg .iconsWrap{
  position :absolute;
  top:50%;
  transform : translateY(-50%);
  right : 15px;
  width : auto;
  display : inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor : pointer;
  color : #00ff89
}


.taskBg .iconsWrap span:hover{
  color:yellow
}

.taskBg .iconsWrap span:focus-visible {
  outline: none;
}

.mr-20{
  margin-right: 20px;
}


.taskText{
  color:white;
  display: flex;
  justify-self: center;

}